{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 80,
  "singleQuote": true,
  "importOrderSeparation": true,
  "importOrder": [
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@mui/material",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
